@import url("../fonts/neueHassGrotesk/stylesheet.css");
header {
  padding: 48px 48px 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
@media (max-width: 767px) {
  header {
    padding: 24px 24px 6px;
  }
}
header .custom-logo-link {
  transition: all 800ms ease-in-out;
  transition-delay: 300ms;
}
header .custom-logo-link img {
  width: 150px;
  height: auto;
}
@media (max-width: 767px) {
  header .custom-logo-link img {
    width: 100px;
    height: auto;
  }
}
header .menu-toggle {
  position: absolute;
  top: 20px;
  right: 48px;
  background-color: transparent;
  border: 0;
  transition: all 800ms ease-in-out;
  transition-delay: 300ms;
  width: 110px;
}
header .menu-toggle img {
  width: 100%;
}
@media (max-width: 767px) {
  header .menu-toggle {
    width: 48px;
    top: 16px;
    right: 16px;
  }
}
header .menu-toggle:active, header .menu-toggle:focus, header .menu-toggle:focus-visible {
  outline: none;
  border: 0;
}

body:has(.menu-wrapper.open) .menu-toggle, body:has(.menu-wrapper.open) .custom-logo-link {
  filter: none;
}
body:has(.menu-wrapper.open) .menu-toggle {
  width: 50px;
}

body.loading header .custom-logo-link, body.loading header .menu-toggle {
  filter: brightness(0) saturate(0);
}
body.loading .hero {
  color: #000;
}

@media (min-width: 860px) {
  *::-webkit-scrollbar {
    width: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 8px;
  }
  *::-webkit-scrollbar-track {
    background-color: #959595;
    border-radius: 4px;
  }
}

body:has(.menu-wrapper.open) .menu-toggle, body:has(.menu-wrapper.open) .custom-logo-link {
  filter: invert(1);
}

.menu-wrapper {
  position: fixed;
  inset: 0;
  background: #fff;
  color: #000;
  padding: 80px 48px 48px;
  clip-path: circle(0% at 100% 0%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}
.home .menu-wrapper {
  background-color: #fff;
  color: #000;
}
.menu-wrapper.open {
  clip-path: circle(200% at 100% 0%);
}
.menu-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-wrapper ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 28px;
  font-family: "Neue Haas Grotesk Display";
}
@media (max-width: 767px) {
  .menu-wrapper ul li a {
    font-size: 22px;
  }
}
.menu-wrapper ul li + li {
  margin-top: 4px;
}
.menu-wrapper .menu-footer {
  font-weight: 400;
  color: #000;
  font-size: 24px;
}
@media (max-width: 767px) {
  .menu-wrapper .menu-footer {
    font-size: 16px;
  }
}

main {
  position: relative;
}
main .titulo-pagina {
  position: absolute;
  top: 88px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Neue Haas Grotesk Display";
}
@media (max-width: 767px) {
  main .titulo-pagina {
    font-size: 20px;
    top: 56px;
  }
}

.hero {
  height: 100dvh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  font-family: "Times New Roman";
  line-height: 1;
  z-index: 1;
  position: relative;
}
@media (max-width: 767px) {
  .hero {
    font-size: 20px;
  }
}
.hero .texto-home {
  position: relative;
  z-index: 100;
  padding: 0 15px;
}
.hero .loading-wrapper {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: rgba(149, 149, 149, 0.2);
  font-size: 240px;
  font-family: "Neue Haas Grotesk Display";
  transition: opacity 600ms;
  position: absolute;
  inset: 0;
}
@media (max-width: 767px) {
  .hero .loading-wrapper {
    font-size: 120px;
  }
}
.hero .swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.hero .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: none !important;
}
.hero .swiper .swiper-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}
.hero .swiper .swiper-slide a {
  position: absolute;
  inset: 0;
}

.trabalho {
  padding: 146px 160px 48px 48px;
  display: flex;
}
@media (max-width: 767px) {
  .trabalho {
    padding-top: 120px;
    padding-left: 24px;
    padding-right: 16px;
    flex-direction: column;
  }
}
.trabalho .fotos {
  flex: 2;
  max-width: 1000px;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .trabalho .fotos {
    order: 2;
    padding-right: 0;
  }
}
.trabalho .fotos img {
  width: 100%;
  height: auto;
}
.trabalho .fotos img + img {
  margin-top: 24px;
}
.trabalho .descricao {
  font-family: "Neue Haas Grotesk Display";
  font-size: 24px;
  flex: 1;
  max-width: 588px;
}
@media (max-width: 767px) {
  .trabalho .descricao {
    font-size: 16px;
  }
}
.trabalho .descricao h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .trabalho .descricao h2 {
    font-size: 28px;
  }
}

.trabalhos {
  padding: 146px 160px 48px 48px;
  display: flex;
}
.trabalhos:not(:has(.projetos li:hover)) .foto-projeto:first-child {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(1):hover) .foto-projeto:nth-child(1) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(2):hover) .foto-projeto:nth-child(2) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(3):hover) .foto-projeto:nth-child(3) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(4):hover) .foto-projeto:nth-child(4) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(5):hover) .foto-projeto:nth-child(5) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(6):hover) .foto-projeto:nth-child(6) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(7):hover) .foto-projeto:nth-child(7) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(8):hover) .foto-projeto:nth-child(8) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(9):hover) .foto-projeto:nth-child(9) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(10):hover) .foto-projeto:nth-child(10) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(11):hover) .foto-projeto:nth-child(11) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(12):hover) .foto-projeto:nth-child(12) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(13):hover) .foto-projeto:nth-child(13) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(14):hover) .foto-projeto:nth-child(14) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(15):hover) .foto-projeto:nth-child(15) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(16):hover) .foto-projeto:nth-child(16) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(17):hover) .foto-projeto:nth-child(17) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(18):hover) .foto-projeto:nth-child(18) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(19):hover) .foto-projeto:nth-child(19) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(20):hover) .foto-projeto:nth-child(20) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(21):hover) .foto-projeto:nth-child(21) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(22):hover) .foto-projeto:nth-child(22) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(23):hover) .foto-projeto:nth-child(23) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(24):hover) .foto-projeto:nth-child(24) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(25):hover) .foto-projeto:nth-child(25) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(26):hover) .foto-projeto:nth-child(26) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(27):hover) .foto-projeto:nth-child(27) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(28):hover) .foto-projeto:nth-child(28) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(29):hover) .foto-projeto:nth-child(29) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(30):hover) .foto-projeto:nth-child(30) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(31):hover) .foto-projeto:nth-child(31) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(32):hover) .foto-projeto:nth-child(32) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(33):hover) .foto-projeto:nth-child(33) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(34):hover) .foto-projeto:nth-child(34) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(35):hover) .foto-projeto:nth-child(35) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(36):hover) .foto-projeto:nth-child(36) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(37):hover) .foto-projeto:nth-child(37) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(38):hover) .foto-projeto:nth-child(38) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(39):hover) .foto-projeto:nth-child(39) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(40):hover) .foto-projeto:nth-child(40) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(41):hover) .foto-projeto:nth-child(41) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(42):hover) .foto-projeto:nth-child(42) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(43):hover) .foto-projeto:nth-child(43) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(44):hover) .foto-projeto:nth-child(44) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(45):hover) .foto-projeto:nth-child(45) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(46):hover) .foto-projeto:nth-child(46) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(47):hover) .foto-projeto:nth-child(47) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(48):hover) .foto-projeto:nth-child(48) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(49):hover) .foto-projeto:nth-child(49) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(50):hover) .foto-projeto:nth-child(50) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(51):hover) .foto-projeto:nth-child(51) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(52):hover) .foto-projeto:nth-child(52) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(53):hover) .foto-projeto:nth-child(53) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(54):hover) .foto-projeto:nth-child(54) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(55):hover) .foto-projeto:nth-child(55) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(56):hover) .foto-projeto:nth-child(56) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(57):hover) .foto-projeto:nth-child(57) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(58):hover) .foto-projeto:nth-child(58) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(59):hover) .foto-projeto:nth-child(59) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(60):hover) .foto-projeto:nth-child(60) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(61):hover) .foto-projeto:nth-child(61) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(62):hover) .foto-projeto:nth-child(62) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(63):hover) .foto-projeto:nth-child(63) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(64):hover) .foto-projeto:nth-child(64) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(65):hover) .foto-projeto:nth-child(65) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(66):hover) .foto-projeto:nth-child(66) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(67):hover) .foto-projeto:nth-child(67) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(68):hover) .foto-projeto:nth-child(68) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(69):hover) .foto-projeto:nth-child(69) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(70):hover) .foto-projeto:nth-child(70) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(71):hover) .foto-projeto:nth-child(71) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(72):hover) .foto-projeto:nth-child(72) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(73):hover) .foto-projeto:nth-child(73) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(74):hover) .foto-projeto:nth-child(74) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(75):hover) .foto-projeto:nth-child(75) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(76):hover) .foto-projeto:nth-child(76) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(77):hover) .foto-projeto:nth-child(77) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(78):hover) .foto-projeto:nth-child(78) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(79):hover) .foto-projeto:nth-child(79) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(80):hover) .foto-projeto:nth-child(80) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(81):hover) .foto-projeto:nth-child(81) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(82):hover) .foto-projeto:nth-child(82) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(83):hover) .foto-projeto:nth-child(83) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(84):hover) .foto-projeto:nth-child(84) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(85):hover) .foto-projeto:nth-child(85) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(86):hover) .foto-projeto:nth-child(86) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(87):hover) .foto-projeto:nth-child(87) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(88):hover) .foto-projeto:nth-child(88) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(89):hover) .foto-projeto:nth-child(89) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(90):hover) .foto-projeto:nth-child(90) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(91):hover) .foto-projeto:nth-child(91) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(92):hover) .foto-projeto:nth-child(92) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(93):hover) .foto-projeto:nth-child(93) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(94):hover) .foto-projeto:nth-child(94) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(95):hover) .foto-projeto:nth-child(95) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(96):hover) .foto-projeto:nth-child(96) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(97):hover) .foto-projeto:nth-child(97) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(98):hover) .foto-projeto:nth-child(98) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(99):hover) .foto-projeto:nth-child(99) {
  display: block;
}
.trabalhos:has(.projetos li:nth-child(100):hover) .foto-projeto:nth-child(100) {
  display: block;
}
@media (max-width: 767px) {
  .trabalhos {
    padding-top: 120px;
    padding-left: 24px;
    padding-right: 16px;
    flex-direction: column;
    gap: 15px;
  }
}
.trabalhos .fotos {
  flex: 2;
  max-width: 1000px;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .trabalhos .fotos {
    order: 2;
    padding-right: 0;
  }
}
.trabalhos .fotos .foto-projeto {
  display: none;
  width: 100%;
  height: auto;
}
.trabalhos .projetos {
  flex: 1;
  max-width: 588px;
}
.trabalhos .projetos ul {
  list-style-type: none;
  font-family: "Neue Haas Grotesk Display";
  font-size: 18px;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .trabalhos .projetos ul {
    font-size: 16px;
  }
}
.trabalhos .projetos ul li a {
  font-family: "Times New Roman";
  color: #959595;
  text-decoration: none;
  font-weight: bold;
}
.trabalhos .projetos ul li a:hover {
  text-decoration: underline;
  color: #000;
}

.time {
  height: 100vh;
}
.time .swiper {
  width: 100%;
  height: 100%;
}
.time .swiper .swiper-slide {
  display: flex;
  background-color: #fff;
}
.time .swiper .swiper-slide > div {
  flex: 1 1 50%;
}
@media (max-width: 767px) {
  .time .swiper .swiper-slide {
    flex-direction: column;
  }
}
.time .swiper .swiper-button-prev,
.time .swiper .swiper-button-next {
  color: #fff;
  top: 90%;
  z-index: 10;
}
.time .swiper .swiper-button-prev {
  left: auto;
  right: calc(var(--swiper-navigation-size) + 30px);
}
.time .descricao {
  text-align: right;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 30px;
  padding: 146px 48px 48px;
  max-height: 80vh;
  margin: auto 0;
  overflow-y: auto;
}
@media (max-width: 767px) {
  .time .descricao {
    max-height: 30vh;
    padding-top: 0;
    padding-left: 24px;
    margin-top: 120px;
    font-size: 20px;
  }
}
.time .foto {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.time .foto h2 {
  color: #fff;
  font-family: "Times New Roman";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .time .foto h2 {
    font-size: 20px;
  }
}

.clientes {
  padding: 146px 160px 48px 48px;
}
@media (max-width: 767px) {
  .clientes {
    padding-top: 120px;
    padding-left: 24px;
    padding-right: 16px;
  }
}
.clientes .clientes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.clientes .clientes-wrapper a {
  flex: 1;
  padding: 0 16px;
}
@media (max-width: 767px) {
  .clientes .clientes-wrapper a {
    padding: 0 8px;
  }
}
.clientes .clientes-wrapper a img {
  width: 100%;
}

.contato {
  padding: 86px 48px 48px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media (max-width: 767px) {
  .contato {
    padding-top: 120px;
    padding-left: 24px;
  }
}
.contato .map {
  margin-bottom: 74px;
  flex: 1;
}
.contato .map iframe {
  width: 100%;
  max-width: 896px;
  height: 100%;
}
.contato .copy-text p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .contato .copy-text p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
