.btn {
    display: block;
    padding: 6px 24px;
    background-color: $color-1;
    color: #fff;
    width: fit-content;
    text-transform: uppercase;
    border-radius: 500px;
    font-size: 12px;
    &:hover {
        color: #fff;
    }
}