$font-base: "Versos", sans-serif;
$font-display: "Versos", sans-serif;

$color-1: #3e3e8c;
$color-2: #826950;
$color-3: #0E8396;
$color-4: #594b36;

$text-color-1: #232322;
$text-color-2: #594B36;
$text-color-3: #84837e;
$text-color-4: #c9c7c1;


$bg-color: #F0F0F0;
$dark-bg-color: #1C1C1C;
$text-color: #1C1C1C;