
.icon-cadeado:before { content: '\e800'; } /* '' */
.icon-casa:before { content: '\e801'; } /* '' */
.icon-exclamacao:before { content: '\e802'; } /* '' */
.icon-interrogacao:before { content: '\e803'; } /* '' */
.icon-letras:before { content: '\e804'; } /* '' */
.icon-livro:before { content: '\e805'; } /* '' */
.icon-mais:before { content: '\e806'; } /* '' */
.icon-menos:before { content: '\e807'; } /* '' */
.icon-microfone:before { content: '\e808'; } /* '' */
.icon-mouse:before { content: '\e809'; } /* '' */
.icon-pause:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-brilho:before { content: '\e80c'; } /* '' */
.icon-seta_01:before { content: '\e80d'; } /* '' */
.icon-seta_02:before { content: '\e80e'; } /* '' */
.icon-seta_03:before { content: '\e80f'; } /* '' */
.icon-seta_04:before { content: '\e810'; } /* '' */
.icon-seta-grossa_01:before { content: '\e811'; } /* '' */
.icon-seta-grossa_02:before { content: '\e812'; } /* '' */
.icon-seta-grossa_03:before { content: '\e813'; } /* '' */
.icon-seta-grossa_04:before { content: '\e814'; } /* '' */
.icon-xis:before { content: '\e815'; } /* '' */
.icon-ok:before { content: '\e816'; } /* '' */
.icon-phone:before { content: '\e817'; } /* '' */
.icon-raio:before { content: '\e81a'; } /* '' */
.icon-check:before { content: '\e81b'; } /* '' */
.icon-contraste:before { content: '\e81c'; } /* '' */
.icon-fechar:before { content: '\e81d'; } /* '' */
.icon-fonte:before { content: '\e81e'; } /* '' */
.icon-dyslexia:before { content: '\e81f'; } /* '' */
.icon-icon-lock:before { content: '\e820'; } /* '' */
.icon-escudo:before { content: '\e821'; } /* '' */
.icon-alvo:before { content: '\e822'; } /* '' */
.icon-lua:before { content: '\e823'; } /* '' */
.icon-mais_2:before { content: '\e824'; } /* '' */
.icon-play-menu:before { content: '\e825'; } /* '' */
.icon-negativo:before { content: '\e826'; } /* '' */
.icon-positivo:before { content: '\e827'; } /* '' */
.icon-fechar-aspas:before { content: '\e828'; } /* '' */
.icon-abrir-aspas:before { content: '\e829'; } /* '' */
.icon-whatsapp-brands-solid:before { content: '\e82a'; } /* '' */
.icon-facebook:before { content: '\e82b'; } /* '' */
.icon-instagram:before { content: '\e82c'; } /* '' */
.icon-mail:before { content: '\e82e'; } /* '' */
.icon-quote:before { content: '\e82f'; } /* '' */
.icon-linkedin:before { content: '\e830'; } /* '' */
.icon-envelope:before { content: '\e831'; } /* '' */
.icon-acessibilidade:before { content: '\e905'; } /* '' */
.icon-inicio:before { content: '\e906'; } /* '' */
.icon-topicos:before { content: '\e907'; } /* '' */
.icon-logo-claro:before { content: '\e908'; } /* '' */
